@import 'tailwindcss';

@theme {
    --font-*: initial;
    --font-sans: 'Inter', sans-serif;

    --color-primary: #00809d;
    --color-background: #fdfaf6;
    --color-inverted: #fcf8dd;
    --color-secondary: #ffd700;
    --color-secondaryDark: #ffd700;
}

@layer base {
    body {
        font-family: 'Inter';
    }
    button {
        @apply rounded-md font-medium inline-flex items-center disabled:cursor-not-allowed aria-disabled:cursor-not-allowed disabled:opacity-75 aria-disabled:opacity-75 px-2.5 py-1.5 text-sm text-inverted bg-primary hover:bg-primary/75 active:bg-primary/75 disabled:bg-primary aria-disabled:bg-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary;
    }

    input,
    textarea {
        @apply w-full rounded-md border-0 placeholder:text-gray-500 focus:outline-none disabled:cursor-not-allowed disabled:opacity-75 px-2.5 py-1.5 text-sm ring ring-inset ring-gray-600;
    }

    h1 {
        @apply text-primary font-bold text-2xl;
    }

    h3 {
        @apply font-semibold text-lg;
    }
}
